.textColor  {
    color:#aeb130;
    font-weight:bold;
    font-size: 1.5em;
}

.bgColor{
    background:#525463;
}

.antwortInp, .questionIn, .questionKIn {
	width:400px;
}

.upDownArrow:hover {
	color:blue;
	cursor:pointer;
}

.markOnHover:hover{
	color:blue;
	cursor:pointer;
}

.markOnHover{
	color:gray;
}

.noIntro {
	display:none;
}

.footer {
	background:#aeb130;
	color:rgb(100, 100, 100);
}

.mainHight {
	height: 530px;
}

#answers {
	font-family: monospace; 
	padding-top: 70px; 
	padding-left: 18px; 
	font-size: 1.5em;
}

#displayQuestions {
	position:absolute; 
	top:15px; 
	left:15px;
}